@page
@model HttpWebshopCookie.Pages.Basket.CheckoutGuestModel
@{
}

<h1>Checkout</h1>

<div style="text-align: center;">
    <h2>Basket Items</h2>
    <table style="width: auto;">
        <thead>
            <tr>
                <th style="width: auto;">Item Name</th>
                <th style="width: auto;">Quantity</th>
                <th style="width: auto;">Price</th>
                <th style="width: auto;">Line Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Basket.Items)
            {
                <tr>
                    <td>@(item.ProductInBasket?.Name)</td>
                    <td>@item.Quantity</td>
                    <td>@(item.ProductInBasket?.Price)</td>
                    <td>@item.LinePrice()</td>
                </tr>
            }
        </tbody>
    </table>
    <p>@Model.Basket.TotalPrice()</p>
</div>

<div>
    <div>
        <p>Before we can complete the order, we need your contact information</p>
        <p>Please fill in the form below</p>
    </div>
        <div>
            <p>Contact Information</p>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
            </div>
            <div>
                <label asp-for="Model.Guest.FirstName">First Name:</label>
                <input asp-for="Model.Guest.FirstName" />
            </div>
            <div>
                <label asp-for="Model.Guest.LastName">Last Name:</label>
                <input asp-for="Model.Guest.LastName" />
            </div>
            <div>
                <label asp-for="Model.Guest.Email">Email:</label>
                <input asp-for="Model.Guest.Email" />
            </div>
            <div>
                <label asp-for="Model.Guest.PhoneNumber">Phone Number:</label>
                <input asp-for="Model.Guest.PhoneNumber" />
            </div>
            <div>
                <label asp-for="Model.Address.Street">Address:</label>
                <input asp-for="Model.Address.Street" />
            </div>
            <div>
                <label asp-for="Model.Address.City">City:</label>
                <input asp-for="Model.Address.City" />
            </div>
            <div>
                <label asp-for="Model.Address.PostalCode">Postal Code:</label>
                <input asp-for="Model.Address.PostalCode" />
            </div>
            <div>
                <label asp-for="Model.Address.Country">Country:</label>
                <input asp-for="Model.Address.Country" />
            </div>
                <div>
                    <input type="submit" value="Checkout" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}