@page
@model HttpWebshopCookie.Pages.Basket.CheckoutUserModel
@{
}

<h1>Checkout</h1>

<div style="text-align: center;">
    <h2>Basket Items</h2>
    <table style="width: auto;">
        <thead>
            <tr>
                <th style="width: auto;">Item Name</th>
                <th style="width: auto;">Quantity</th>
                <th style="width: auto;">Price</th>
                <th style="width: auto;">Line Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Basket.Items)
            {
                <tr>
                    <td>@(item.ProductInBasket?.Name)</td>
                    <td>@item.Quantity</td>
                    <td>@(item.ProductInBasket?.Price)</td>
                    <td>@item.LinePrice()</td>
                </tr>
            }
        </tbody>
    </table>
    <p>@Model.Basket.TotalPrice()</p>
</div>

@if (User.Identity!.IsAuthenticated)
{
    <div>
        <p>Hello there! You are logged in as: @User.Identity!.Name</p>
        <p>This is your current contact information</p>
        <p>
            <span>First Name: @Model.UserWrapper.ApplicationUser.FirstName</span><br />
            <span>Last Name: @Model.UserWrapper.ApplicationUser.LastName</span><br />
            <span>Email: @Model.UserWrapper.ApplicationUser.Email</span><br />
            <span>Phone Number: @Model.UserWrapper.ApplicationUser.PhoneNumber</span><br />
        <p>
            <a asp-page="/Account/Login"></a>
            <a asp-page="CheckoutUser" asp-route-user="@Model.UserWrapper">Checkout</a> |
            <a asp-page="./Products/Index">Back to Products</a>
        </p>
    </div>
}
else
{
    <div>
        <p>Not you? Please register or log in to continue</p>
        <p>
            <a asp-page="/Account/Login">Log in</a> |
            <a asp-page="/Account/Register">Register</a> |
            <a asp-page="./Products/Index">Back to Products</a>
        </p>
    </div>
}