@page
@model HttpWebshopCookie.Pages.Basket.ConfirmOrderModel

<h1>Confirm Order</h1>

<div style="text-align: left;">
    <h2>Your Order Details</h2>
    <table style="width: auto;">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Line Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Basket.Items)
            {
                <tr>
                    <td>@(item.ProductInBasket?.Name)</td>
                    <td>@item.Quantity</td>
                    <td>@(item.ProductInBasket?.Price.ToString("C"))</td>
                    <td>@(item.LinePrice().ToString("C"))</td>
                </tr>
            }
        </tbody>
    </table>
    <p>Total: @Model.Basket?.TotalPrice().ToString("C")</p>
</div>

<div>
    <h2>Your Information</h2>
    <p>Name: @(Model.UserWrapper?.FirstName) @(Model.UserWrapper?.LastName)</p>
    <p>Email: @Model.UserWrapper?.Email</p>
    <p>Phone Number: @Model.UserWrapper?.PhoneNumber</p>
    <p>Address: @(Model.UserWrapper?.Address?.FullAddress() ?? "Address not available")</p>
</div>
<div>
    <h2>Your Information</h2>
    <p>Name: @Model.UserInfo.FirstName  @(Model.UserInfo.LastName)</p>
    <p>Email: @Model.UserInfo.Email</p>
    <p>Phone Number: @Model.UserWrapper?.PhoneNumber</p>
    <p>Address: @(Model.UserWrapper?.Address?.FullAddress() ?? "Address not available")</p>
</div>

<form method="post">
    <button type="submit" class="btn btn-success">Place Order</button>
</form>