@page
@model HttpWebshopCookie.Pages.Basket.ReviewOrderModel

<div class="container w-75 align-self-lg-center">
    <h1>Review Your Order</h1>
    <form method="post">
        <table class="table table-hover table-striped table-condensed">
            <thead class="table-primary">
                <tr>
                    <th scope="col" class="col-sm">Product</th>
                    <th scope="col" class="col-sm">Quantity</th>
                    <th scope="col" class="col-sm">Price</th>
                    <th scope="col" class="col-sm">Line Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Basket.Items)
                {
                    <tr>
                        <td scope="row">@item.ProductInBasket?.Name</td>
                        <td>@(item.Quantity)</td>
                        <td>@(item.ProductInBasket?.Price.ToString("C"))</td>
                        <td>@(item.LinePrice().ToString("C"))</td>
                    </tr>
                }
                <tr>
                    <th>Total:</th>
                    <td></td>
                    <td></td>
                    <td class="text-decoration-underline">@Model.Basket.TotalPrice().ToString("C")</td>
                </tr>
            </tbody>
        </table>
@*             <div class="container">
            <button class="btn btn-primary" type="submit" asp-page-handler="ProceedToCheckout">Proceed with Order</button>
            <button class="btn btn-outline-primary" type="submit" asp-page-handler="ContinueShopping">Continue Shopping</button>
        </div> *@
        <div class="container mt-2">
            <div class="row justify-content-end">
                <div class="col-auto">
                    <button class="btn btn-outline-primary" type="submit" asp-page-handler="ContinueShopping">Continue Shopping</button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit" asp-page-handler="ProceedToCheckout">Proceed with Order</button>
                </div>
            </div>
        </div>
    </form>
</div>