@page
@model HttpWebshopCookie.Pages.Basket.ViewBasketModel

<h1>View Basket</h1>

<div style="text-align: center;">
    <table style="width: auto;">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Line Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Basket.Items)
            {
                <tr>
                    <td>@(item.ProductInBasket?.Name)</td>
                    <td>@item.Quantity</td>
                    <td>@(item.ProductInBasket?.Price.ToString("C"))</td>
                    <td>@(item.LinePrice().ToString("C"))</td>
                </tr>
            }
        </tbody>
    </table>
    <p>Total: @Model.Basket.TotalPrice().ToString("C")</p>
</div>

<div>
    <a asp-page="CheckoutInfo" class="btn btn-primary">Proceed to Checkout</a>
    <a asp-page="/Products/Index" class="btn btn-secondary">Continue Shopping</a>
</div>
