@page
@model HttpWebshopCookie.Pages.Orders.OrderListingsModel

<h1>Order Listings</h1>

<form method="post" asp-page-handler="Search" class="p-1 bg-primary-subtle d-flex justify-content-between">
    <div class="d-flex justify-content-evenly">
        <label for="FilterStatus">Order Status:</label>
        <select id="FilterStatus" name="filterStatus" asp-for="FilterStatus" class="form-select form-control-sm">
            <option value="">All</option>
            @foreach (HttpWebshopCookie.Models.OrderStatus status in Enum.GetValues(typeof(HttpWebshopCookie.Models.OrderStatus)))
            {
                <option value="@status" selected="@(Model.FilterStatus == status)">@status</option>
            }
        </select>
    </div>
    <div>
        <label for="CustomerName">Customer/Guest Name:</label>
        <input type="text" id="CustomerName" name="customerName" value="@Model.CustomerName" />
    </div>
    <div>
        <label for="EmployeeName">Employee Name:</label>
        <input type="text" id="EmployeeName" name="employeeName" value="@Model.EmployeeName" />
    </div>
    <button type="submit">Filter</button>
</form>

<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Customer</th>
            <th>Employee</th>
            <th>Status</th>
            <th>Total</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.OrderDate.ToShortDateString()</td>
                <td>
                    @{
                        var customerName = order.Customer != null ? $"{order.Customer.FirstName} {order.Customer.LastName}" : $"{order.Guest?.FirstName} {order.Guest?.LastName}";
                        var isGuest = order.Guest != null;
                    }
                    @customerName @(isGuest ? "(unregistered)" : "")
                </td>
                <td>@(order.Employee?.FirstName + " " + order.Employee?.LastName)</td>
                <td>@order.Status</td>
                <td>@order.TotalPrice.ToString("C")</td>
                <td><a asp-page="OrderDetails" asp-route-id="@order.Id">Details</a></td>
            </tr>
        }
    </tbody>
</table>