@page
@model HttpWebshopCookie.Pages.Orders.OrderListingsModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container mt-4"> 
    <h1>Order Listings</h1>
    <form method="get" asp-page-handler="Search" class="bg-primary-subtle">
        <div class="container pt-2 pb-2">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-sm-6 justify-content-evenly align-items-center">
                <div class="col">
                    <label for="FilterStatus" class="form-label">Order Status:</label>
                    <select id="FilterStatus" name="filterStatus" asp-for="FilterStatus" class="form-select form-select-sm">
                        <option value="">All</option>
                        @foreach (HttpWebshopCookie.Models.OrderStatus status in Enum.GetValues(typeof(HttpWebshopCookie.Models.OrderStatus)))
                        {
                            <option value="@status" selected="@(Model.FilterStatus == status)">@status</option>
                        }
                    </select>
                </div>
                <div class="col">
                    <label for="CustomerName" class="form-label">Customer/Guest:</label>
                    <input type="text" id="CustomerName" name="customerName" class="form-control form-control-sm" placeholder="Name Nameson" value="@Model.CustomerName" />
                </div>
                <div class="col">
                    <label for="EmployeeName" class="form-label">Employee:</label>
                    <input type="text" id="EmployeeName" name="employeeName" class="form-control form-control-sm" placeholder="Name Nameson" value="@Model.EmployeeName" />
                </div>
                <div class="col">
                    <label for="StartDate" class="form-label">Start Date:</label>
                    <input type="date" id="StartDate" name="startDate" class="form-control form-control-sm" value="@(Model.StartDate?.ToString("yyyy-MM-dd"))">
                </div>
                <div class="col">
                    <label for="EndDate" class="form-label">End Date:</label>
                    <input type="date" id="EndDate" name="endDate" class="form-control form-control-sm" value="@(Model.EndDate?.ToString("yyyy-MM-dd"))">
                </div>
                <div class="col text-center">
                    <button type="submit" class="btn btn-outline-primary">Filter</button>
                    <button type="submit" class="btn btn-outline-danger" href="@Url.Page("/Orders/OrderListings")">Reset</button>
                </div>
            </div>
        </div>
    </form>
    <table class="table table-hover table-striped">
        <thead class="table-primary">
            <tr>
                <th scope="col">Order Date</th>
                <th scope="col">Status</th>
                <th scope="col">SOI</th>
                <th scope="col">Customer</th>
                <th scope="col">Assigned</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td class="col-auto">@order.OrderDate.ToString("dd-MM-yy HH:mm:ss")</td>
                    <td class="col-auto">@order.Status</td>
                    <td class="col-auto">
                        @{
                            string specialInstructions = "No";
                            if (order.SpecialOrderInstruction != null)
                            {
                                specialInstructions = "Yes";
                            }
                        }
                        @specialInstructions 
                    </td>
                    <td class="col-auto">
                        @{
                            var customerName = order.Customer != null ? $"{order.Customer.FirstName} {order.Customer.LastName}" : $"{order.Guest?.FirstName} {order.Guest?.LastName}";
                            var isGuest = order.Guest != null;
                        }
                        @customerName @(isGuest ? "(unregistered)" : "")
                    </td>
                    <td class="col-auto">@(order.Employee?.FirstName + " " + order.Employee?.LastName)</td>
                    <td class="col-auto">@order.TotalPrice.ToString("C")</td>
                    <td class="col-auto"><a asp-page="/Orders/OrderDetails" asp-route-id="@order.Id" class="btn btn-sm btn-info border rounded"><i class="fa-solid fa-magnifying-glass"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>